default_stages:
  - commit
  - push
fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: double-quote-string-fixer
      - id: end-of-file-fixer
      - id: fix-encoding-pragma
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        language: system
        entry: bash -lc 'cd src && poetry install --with dev --no-root >/dev/null && PYTHONPATH=. poetry run pylint --rcfile=pyproject.toml .'
        files: ^src/.*\.py$
